<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gict.studyblog.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.gict.studyblog.entity.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="intro" column="intro" jdbcType="VARCHAR"/>
            <result property="isDisable" column="is_disable" jdbcType="TINYINT"/>
            <result property="isDel" column="is_del" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,email,nickname,
        username,password,last_login_time,
        avatar,intro,is_disable,
        is_del,create_time,update_time
    </sql>
    <select id="listDto" resultType="com.gict.studyblog.dto.UserDto">
        SELECT
            u.id,
            u.nickname,
            u.username,
            u.email,
            u.last_login_time,
            u.avatar,
            u.intro,
            u.is_disable
        FROM
            `user` u
    </select>
</mapper>
